<div id="projects" class="container projectsContainer">


  <div class="">
    <h2><span>Proyectos</span></h2>

    <h6 class="text-center my-5">Durante mi trayectoria he programado <span>en diversos lenguajes de programación</span> tales como: <span>PHP</span> y JavaScript <br>Aplicaciones hechas en frameworks de desarrollo tales como: <span>Angular,</span>  React Native, Laravel, etc...</h6>

  </div>




  <div class="row">
    <div class="col-md-4 ">
      <h4><span>Delyapp - Proyecto de título</span></h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="200" class="card cardSafway">
        <div class="imgBx">
          <div class="safway-box text-center">
            <img id="safariway" src="assets/images/delyapp.png">
          </div>
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>Proyecto de título Ciisa 2021 - Software de compra, venta e inventario (aplicado a local de comida rápida), con manipulación en los ingredientes, mermas y gastos fijos. Parámetros para un precio sugerido, Incluye venta y pago online o presencial más despacho a domicilio (delivery) o retiro en local.
            </p>
            <button class="btn action-btn btn-sm" name="button">
              <a href="https://delyapp.cl/" target="_blank">
                Sitio en producción
              </a>
            </button>

        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <h4><span>Impresos Rubio</span></h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="100" class="card cardKejua">
        <div class="imgBx text-center">
          <img id="art" src="assets/images/ir.png">
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>
            Imprenta Fundada en 1988 Página Web con PHP puro. Landing Page.
          </p>


          <button class="btn action-btn btn-sm" name="button">
            <a href="https://impresosrubio.nicolabs.cl" target="_blank">
              Sitio en producción
            </a>
          </button>

        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <h4><span>Colegio - SGDLS</span></h4>

      <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="150" class="card cardMulika">
        <div class="imgBx">

          <img id="art" src="assets/images/sgdls.png">
        </div>
        <div class="details">
          <!-- <h4>Gitsearch WebApp</h4> -->
          <p>Software del colegio San Greorio De La Salle lanzado en 2021 que reune aspectos de soporte técnico, acceso de inventario de recursos tecnológicos, entre otras desarrollados en distintos sabores tecnológicos.</p>

          <button class="btn action-btn btn-sm" name="button">
            <a href="https://sgdls.cl/" target="_blank">
              Sitio en producción
            </a>
          </button>

        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <h2><span>Otros Proyectos</span></h2>
  <h6 class="text-center my-5"> He realizando mis despliegues de apps <span id="myGithub"><a href="https://app.netlify.com/teams/nicopage88/overview" target="_blank">bajo diferentes métodos de infraestructura</a></span> <span>, Proyectos</span> que he realizado con frameworks y lenguajes de programación combinados.
  </h6>
  <div class="alert alert-primary" role="alert">
    Pokédex con React.js y TypeScript <a href="https://pokedex-api-react-v1-15d2b8.netlify.app/" class="alert-link">Ir a Netlify</a>. Aprender y practicar REACT
    Aprender React Router Dom
    Crear una aplicación web con React
    Hooks de React como UseState y UseEffect
    Utilizar una API para hacer fetch con React
  </div>
  <div class="alert alert-secondary" role="alert">
    Mobie BD Api con Angular <a href="https://apipelis-con-angular-3820dc.netlify.app/" class="alert-link">Ir a Netlify</a>. Proyecto para master en JS realizado con Angular y https://www.themoviedb.org/
  </div>
  <div class="alert alert-success" role="alert">
    Tienda con WordPress con Ecommerce activo <a href="https://nicolabs.cl/tienda/" class="alert-link">Ir a Netlify</a>. Con el gestor de contenido más popular hice mi tienda.
  </div>
  <!--div class="alert alert-danger" role="alert">
    A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-warning" role="alert">
    A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-info" role="alert">
    A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-light" role="alert">
    A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>
  <div class="alert alert-dark" role="alert">
    A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div-->
